# C object Files
*.o
a.out
lib*.a

# Executables
client/Client
server/CryptMsgServer
tests/PseudoClient

# logs
error.log

# Key File
.keyfile

# To check sizes of files
Lengths.c

# Config
.userconfig


# Names I use for testing
aria
axoo
rmnd
soft