# C object Files
*.o
a.out

# Executables
client/Client
server/CryptMsgServer
tests/PseudoClient

# Queue - why did I make it?
shared/Queue.?
tests/QueueTest.c

# logs
error.log

# Names I use for testing
aria
axoo
rmnd
soft