# C object Files
*.o
a.out

# Executables
client/Client
server/CryptMsgServer
tests/PseudoClient

# logs
error.log

# Key File
.keyfile

# To check sizes of files
Lengths.c

# Names I use for testing
aria
axoo
rmnd
soft